{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

	<!--portofolio-->
	
	<div class="backg2" style="position: relative;">
		<div class="row">
			<div class="col centera">

				<p style="color: white; font-family: Quicksand;font-size: 50px; position: relative; padding-top: 3%;a
				"><strong>PORTFOLIO</strong></p>
				<div style="padding-left: 50%;">
				
				</div>
			</div>

		</div>
		<div class="row" style="padding-left: 5%; position: relative;">
			<div class="col" style="position: relative;">
				<div style="padding-top: 10px; ">
					<a href="#tr">
						<img src="{% static 'logo.jpg' %}" alt="logo trashee"  class="trashee" >
					</a>

				</div>
			</div>
			<div class="col" style="position: relative;">
				<div style="padding-top: 10px">
					<a href="#csk">
						<img src="{% static 'cak.jpg' %}" alt="logo cs" class="trashee" >
					</a>
				</div>
			</div>
				
		</div>
	</div>
  	<!--portofolio explanation-->
  	<div>
	  	<div class="row">
	  		<div class="col">
	  			<img src="{% static 'logo.jpg' %}" alt="logo trashee"  class="trashee" >
	  		</div>
	  		<div class="col" style="padding-right: 20%; padding-left: 20%;">
	  			<a name="tr"></a>
	  			<h5 style="height: 100% ; font-family: Quicksand; font-size: 50px; color: DimGrey; text-align:center; padding-top: 60px; position: relative;" class="mt-0"><strong>TRA$HEE</strong><br>
		    			<font face="Quicksand" size="6" ; color="DimGrey";> Platform yang menjadi perantara antara pihak yang membutuhkan sampah dengan pihak yang memiliki sampah berlebih. </font></h5>
	  		</div>

		</div>
		<div class="row" >
	  		<div class="col">
	  			<img src="{% static 'cak.jpg' %}" alt="logo cs" class="trashee" >
	  		</div>
	  		<div class="col" style="padding-right: 20%;padding-left:20% ">
	  			<a name="csk"></a>
	  			<h5 style="height: 100% ; font-family: Quicksand; font-size: 50px; color: DimGrey; text-align:center; padding-top: 60px; position: relative;" class="mt-0"><strong>cariSekolah.id</strong><br>
		    			<font face="Quicksand" size="6" ; color="DimGrey";> Platform yang berguna bagi masyarakat untuk mencari sekolah unggulan di Indonesia. </font></h5>
	  		</div>
		</div>
	</div> 
	<nav class="social">
          <ul style="padding-top: 100px;">

              <li><a href="https://www.facebook.com/muhamadistiady.k"><i class="fa fa-facebook"></i><b>Facebook</b></a></li>
              <li><a href="https://twitter.com/adykarta?lang=en"><i class="fa fa-twitter"></i><b>Twitter</b></a></li>
              <li><a href="https://www.linkedin.com/in/adykarta/"><i class="fa fa-linkedin"></i><b>LinkedIn</b></a></li>
              <li><a href="https://www.instagram.com/adykartaa/"><i class="fa fa-instagram"></i><b>Instagram</b></a></li>
          </ul>
      </nav>

	
	{% endblock %}



