{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


	<!--home-->

	<div class="backg">
		<div class="row">
			<div class="col-sm">
			
					<h1 style="color: white; position: relative; text-shadow:2px 2px 10px #000000; text-align: center;font-size: 70px;font-family: Baloo Da;padding-top: 10%"><strong>TRUST YOURSELF, FOLLOW YOUR FEELINGS.</strong></h1>
						<div class="centera">
								<a href="{% url 'profil' %}" role="button" class="btn btn-outline-light btn-lg" style="margin: 80px;padding-left:90px;padding-right: 90px; left: 35%;" aria-pressed="true"> <strong>GO!</strong></a>
						</div>
			</div>
		</div>

	</div>
	
	
	
  
  	


  	<nav class="social">
          <ul style="padding-top: 100px;">

              <li><a href="https://www.facebook.com/muhamadistiady.k"><i class="fa fa-facebook"></i><b>Facebook</b></a></li>
              <li><a href="https://twitter.com/adykarta?lang=en"><i class="fa fa-twitter"></i><b>Twitter</b></a></li>
              <li><a href="https://www.linkedin.com/in/adykarta/"><i class="fa fa-linkedin"></i><b>LinkedIn</b></a></li>
              <li><a href="https://www.instagram.com/adykartaa/"><i class="fa fa-instagram"></i><b>Instagram</b></a></li>
          </ul>
      </nav>

	
	{% endblock %}



